# VerificationStatus


## Enum

* `Processing` (value: `'Processing'`)

* `Ready` (value: `'Ready'`)

* `Expired` (value: `'Expired'`)

* `Verified` (value: `'Verified'`)

* `Error` (value: `'Error'`)

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)
